# .env.example
# JID is now auto-detected. You do not need to set it for sending messages to yourself.
# If you want to send to other users/groups, you can add configuration here.
# JID="<user_or_group_id>@s.whatsapp.net"
